---
import EditLink from 'virtual:starlight/components/EditLink'
---

<footer class="sl-flex">
    <div class="meta sl-flex">
        <EditLink />
    </div>
</footer>

<style>
    footer {
        flex-direction: column;
        gap: 1.5rem;
    }

    .meta {
        gap: 0.75rem 3rem;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 3rem;
        font-size: var(--sl-text-sm);
        color: var(--sl-color-gray-3);
    }

    .meta > :global(p:only-child) {
        margin-inline-start: auto;
    }
</style>
