# node_modules
/node_modules

# public
/public/hot
/public/css
/public/js
/public/storage
/public/build
/public/mix-manifest.json

# storage
/storage/*.key

# vendor
/vendor

# ide
/.fleet
/.idea
/.vscode
_ide_helper*
.phpstorm.meta.php
.phpunit.result.cache

# .env
.env*

# cache
*.cache

# homestead
Homestead.json
Homestead.yaml

# docker
docker-compose.override.yml

# package managers
npm-debug.log
yarn-error.log

# windows 
*:Zone.Identifier
Thumbs.db
