/.astro
/.fleet
/.idea
/.phpunit.cache
/.vscode
/public/api
/public/build
/public/docs
/public/hot
/public/storage
/node_modules
/node_modules.nosync
/storage/*.key
/vendor
/vendor.nosync
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
auth.json
filament-cli
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
