---
import Prose from "@components/Prose.astro";
import "../styles/tailwind.css";

let { redirect_to = null } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/docs/favicon.ico" />
    <meta http-equiv="refresh" content={`0;url=${redirect_to}`} />
    <title>Redirect to {redirect_to}</title>
    <script>
        let isDarkMode = window.matchMedia("(prefers-color-scheme: dark)");
        let theme = window.localStorage.theme ?? "system";

        if (theme === "dark" || (theme === "system" && isDarkMode.matches)) {
          document.documentElement.classList.add("dark");
        } else if (theme === "light" || (theme === "system" && !isDarkMode.matches)) {
          document.documentElement.classList.remove("dark");
        }
      </script>
  </head>
  <body class="bg-white dark:bg-gray-900 h-full grid place-content-center">
    <Prose>
        <h1>Nothing to see here...</h1>
        <p>
            <a href={redirect_to}>Go to {redirect_to}</a>
        </p>
    </Prose>
  </body>
</html>
