@import '~@docsearch/css';
@import '~@splidejs/splide/dist/css/splide.min.css';
@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
    --docsearch-primary-color: #eab308;
    --docsearch-key-gradient: #fff;
    --docsearch-key-shadow: none;
    --docsearch-footer-shadow:none
}

.DocSearch-Button {
    width: 100%;
    margin: 0;
    border-radius: 0.45rem;
    background-color: #fafafa;
    transition: all .1s ease-in-out;
    @apply dark:text-gray-300 dark:bg-gray-800 dark:hover:text-gray-300 dark:hover:bg-gray-800 !important;
}

.DocSearch-Button:active, .DocSearch-Button:focus, .DocSearch-Button:hover {
    background-color: #f5f5f5;
    box-shadow: none;
    outline: none;
}

.DocSearch-Button:hover {
    color: #737373;
}

.DocSearch-Button-Placeholder {
    font-weight: 300;
    padding: 0 20px 0 12px;
}

.DocSearch-Button .DocSearch-Search-Icon {
    color: #2d3441;
    @apply dark:text-gray-500 !important;
}

.DocSearch-Input {
    background-color: transparent;
}

.DocSearch-Hit > a:focus, .DocSearch-Input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.DocSearch-Button-Key, .DocSearch-Modal kbd {
    border: 1px solid #96a0b080;
    height: 22px;
    padding: 3px;
    position: static;
    width: 22px;
}

.DocSearch-Button-Key:first-child {
    margin-right: 5px;
}

.DocSearch-Button-Key:nth-child(2) {
    font-size: 1rem;
}

.prose iframe {
    @apply w-full;
}

.prose details > *:not(summary) {
    margin-left: 2rem;
}

.prose details {
    padding-bottom: 1rem;
}

.splide__arrow:disabled {
    @apply opacity-0;
}

pre {
    @apply rounded overflow-x-auto;
    padding: 0 !important;
}

pre code.torchlight {
    @apply block py-4 min-w-max;
}

pre code.torchlight .line {
    @apply px-4;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
    user-select: none;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}

.torchlight summary:focus {
    outline: none;
}

/* Hide the default markers, as we provide our own */
.torchlight details > summary::marker,
.torchlight details > summary::-webkit-details-marker {
    display: none;
}

.torchlight details .summary-caret::after {
    pointer-events: none;
}

/* Add spaces to keep everything aligned */
.torchlight .summary-caret-empty::after,
.torchlight details .summary-caret-middle::after,
.torchlight details .summary-caret-end::after {
    content: " ";
}

/* Show a minus sign when the block is open. */
.torchlight details[open] .summary-caret-start::after {
    content: "-";
}

/* And a plus sign when the block is closed. */
.torchlight details:not([open]) .summary-caret-start::after {
    content: "+";
}

/* Hide the [...] indicator when open. */
.torchlight details[open] .summary-hide-when-open {
    display: none;
}

/* Show the [...] indicator when closed. */
.torchlight details:not([open]) .summary-hide-when-open {
    display: initial;
}
