pre {
    @apply overflow-x-auto rounded p-0;
}

pre.astro-code {
    @apply w-full;
}

.hero pre.astro-code {
    @apply !bg-transparent;
}

.hero pre.torchlight {
    @apply w-full min-w-0 !bg-transparent !py-0;
}

pre.torchlight {
    @apply block min-w-full;
}

pre.torchlight .line-number,
pre.torchlight .summary-caret {
    @apply mr-4 select-none;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(0.095rem);
    opacity: 0.65;
}

.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}

.torchlight summary:focus {
    outline: none;
}

/* Hide the default markers, as we provide our own */
.torchlight details > summary::marker,
.torchlight details > summary::-webkit-details-marker {
    display: none;
}

.torchlight details .summary-caret::after {
    pointer-events: none;
}

/* Add spaces to keep everything aligned */
.torchlight .summary-caret-empty::after,
.torchlight details .summary-caret-middle::after,
.torchlight details .summary-caret-end::after {
    content: ' ';
}

/* Show a minus sign when the block is open. */
.torchlight details[open] .summary-caret-start::after {
    content: '-';
}

/* And a plus sign when the block is closed. */
.torchlight details:not([open]) .summary-caret-start::after {
    content: '+';
}

/* Hide the [...] indicator when open. */
.torchlight details[open] .summary-hide-when-open {
    display: none;
}

/* Show the [...] indicator when closed. */
.torchlight details:not([open]) .summary-hide-when-open {
    display: initial;
}

.code-block-wrapper .code-block-copy-button {
    @apply absolute right-2 top-2 text-gray-200 opacity-25 outline-none hover:text-gray-500 hover:opacity-100;
}

pre .code-block-copy-button:hover,
pre .code-block-copy-button:focus,
pre .code-block-copy-button:active {
    @apply text-white outline-none;
}
