<div class="mx-auto w-full max-w-screen-xl px-8 py-24">
    <div class="mx-auto grid w-full">
        <div class="col-span-full flex flex-wrap justify-around gap-12 text-dolphin">
            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://kirschbaumdevelopment.com/solutions/filament-development" target="_blank" title="Kirschbaum">
                <svg viewBox="0 0 126.98 18.53" class="fill-current h-4">
                    <path d="M127 189l-6.31-7.82V189h-4v-17h4v6.91h.07l6.08-6.91H132l-7.32 7.83 7.75 9.16zM135.74 175.36a2.16 2.16 0 112.26-2.16 2.2 2.2 0 01-2.26 2.16zm-2 13.6V177h3.93v12zM148.58 180.23a3.63 3.63 0 00-1-.12 2.7 2.7 0 00-2.81 2.71V189h-3.94v-12h3.79v1.73a3.61 3.61 0 013.24-2.06 2.87 2.87 0 01.84.09zM157.37 180.54a3.75 3.75 0 00-2.5-1.08c-.74 0-1.49.26-1.49 1s.65.86 2.19 1.2c1.82.41 3.81 1.32 3.81 3.65 0 3-2.66 4.08-5.11 4.08a7.73 7.73 0 01-5.21-1.85l2.21-2.33a4.07 4.07 0 002.93 1.35c.65 0 1.41-.27 1.41-1s-.74-1-2.37-1.36-3.48-1.23-3.48-3.48c0-2.86 2.69-4 5-4a7.17 7.17 0 014.8 1.68zM169.9 180.88a2.74 2.74 0 00-2.09-1 3.06 3.06 0 102.18 5.23l2.18 2.66a6.46 6.46 0 01-4.41 1.54c-3.77 0-6.7-2.4-6.7-6.36s2.95-6.36 6.68-6.36a6.55 6.55 0 014.43 1.61zM181.61 189v-6.48c0-1.34-.34-2.52-1.76-2.52s-2.13 1.13-2.13 2.55V189h-3.94v-18.18h3.94v7.7h.05a3.87 3.87 0 013.43-1.84c3.24 0 4.37 2.49 4.37 4.89V189zM190.37 187.07V189h-1.64v-18.18h1.64v8.86a5.1 5.1 0 014.25-2.24 5.91 5.91 0 010 11.81 5.17 5.17 0 01-4.25-2.18zm4.12-8.26a4.53 4.53 0 000 9.05c2.72 0 4.25-2 4.25-4.51s-1.53-4.54-4.25-4.54zM209.85 181.72c0-1.95-1-2.91-3-2.91a4.77 4.77 0 00-3.33 1.32l-.91-1.08a6.28 6.28 0 014.41-1.61c2.43 0 4.37 1.35 4.37 4.08v4.93a15.28 15.28 0 00.19 2.51h-1.46a10.7 10.7 0 01-.17-1.82 4.51 4.51 0 01-4.08 2.11c-1.7 0-3.89-.91-3.89-3.41 0-3.45 3.82-3.76 7.92-3.76zm-.48 1.63c-2.66 0-5.76.29-5.76 2.42 0 1.61 1.37 2.14 2.64 2.14a3.5 3.5 0 003.6-3.72v-.84zM222.31 189c-.05-.59-.1-1.43-.1-1.92a4.39 4.39 0 01-3.84 2.21c-2.86 0-4.28-1.84-4.28-4.63v-6.89h1.64V184c0 2.35.69 3.93 3 3.93 1.73 0 3.41-1.39 3.41-4.39v-5.76h1.63v8.76c0 .6 0 1.71.1 2.47zM232 177.44a3.47 3.47 0 013.45 2.38 4.16 4.16 0 013.94-2.38c2.86 0 4.27 1.85 4.27 4.64V189H242v-6.21c0-2.35-.79-3.94-2.9-3.94-2.36 0-3.2 2.09-3.2 4.18v6h-1.63v-6.55c0-2.18-.53-3.6-2.71-3.6-1.56 0-3.27 1.39-3.27 4.39V189h-1.63v-8.8c0-.6 0-1.7-.09-2.47h1.56c0 .6.09 1.44.09 1.92a4.17 4.17 0 013.78-2.21z" transform="translate(-116.64 -170.82)"></path>
                </svg>
            </a>

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://whizzy.dev/?utm_source=filament&amp;utm_medium=referral&amp;utm_campaign=partner&amp;utm_content=footer" target="_blank" title="Whizzy">
                <svg viewBox="0 0 356 96" class="fill-current h-6">
                    <path d="M332.135 95.7968c-3.446 0-6.808-.452-10.085-1.3559-3.276-.904-6.355-2.4294-9.237-4.5763l3.983-9.4916c1.808 1.3559 3.87 2.4294 6.187 3.2203 2.316.8475 4.887 1.2712 7.712 1.2712 4.35 0 7.57-1.0169 9.661-3.0508 2.147-2.034 3.22-4.9718 3.22-8.8137v-2.3729c-.96 1.2995-2.175 2.3447-3.644 3.1357-1.412.7344-2.938 1.2712-4.576 1.6101-1.639.339-3.277.5085-4.916.5085-4.293 0-7.74-.9039-10.339-2.7119-2.599-1.8079-4.491-4.2655-5.678-7.3729-1.13-3.1639-1.695-6.7515-1.695-10.7628V30.5421h11.865v22.0341c0 1.4689.085 2.9378.254 4.4068.17 1.4689.565 2.8249 1.187 4.0678.621 1.243 1.553 2.2599 2.796 3.0509 1.243.7344 2.91 1.1017 5 1.1017 2.712 0 4.746-.6498 6.102-1.9492 1.356-1.3559 2.26-3.0509 2.712-5.0848.508-2.0339.763-4.1525.763-6.356V30.5421h11.864v38.2206c0 4.0678-.395 7.7684-1.186 11.1018-.735 3.3333-2.006 6.1865-3.814 8.5594-1.751 2.3729-4.124 4.1808-7.119 5.4237-2.938 1.2995-6.61 1.9492-11.017 1.9492ZM270.036 75.2034v-8.9831l22.034-25.0849h-22.034V30.5421h37.288v8.8984l-22.119 25.1696h22.119v10.5933h-37.288ZM229.378 75.2034v-8.9831l22.034-25.0849h-22.034V30.5421h37.288v8.8984l-22.119 25.1696h22.119v10.5933h-37.288ZM212.346 75.2034V30.5421h11.864v44.6613h-11.864Zm5.932-49.1529c-2.203 0-3.983-.6497-5.339-1.9491-1.356-1.356-2.034-3.0792-2.034-5.1696 0-2.2034.706-3.983 2.119-5.339 1.412-1.3559 3.192-2.0339 5.339-2.0339 1.977 0 3.672.678 5.084 2.0339 1.469 1.2995 2.204 3.0509 2.204 5.2543 0 2.1469-.706 3.8983-2.119 5.2543-1.356 1.2994-3.107 1.9491-5.254 1.9491ZM163.577 75.2034V15.203h11.864v20.5086c1.3-1.5254 2.74-2.7119 4.322-3.5593 1.639-.8475 3.277-1.4407 4.915-1.7797 1.695-.3955 3.249-.5932 4.662-.5932 4.18 0 7.457.9322 9.83 2.7966 2.373 1.8644 4.068 4.3786 5.085 7.5424 1.017 3.1639 1.525 6.6385 1.525 10.4238v24.6612h-11.864V52.2372c0-1.356-.141-2.7119-.424-4.0679-.226-1.3559-.65-2.5989-1.271-3.7288-.622-1.1865-1.497-2.1187-2.627-2.7966-1.13-.7345-2.627-1.1017-4.492-1.1017-1.751 0-3.248.3672-4.491 1.1017-1.243.7344-2.26 1.7231-3.051 2.9661-.735 1.1864-1.271 2.5141-1.61 3.9831-.339 1.4689-.509 2.9378-.509 4.4068v22.2035h-11.864ZM91.5502 75.2034 76.889 15.203h13.4747l10.5083 46.6952 10.594-46.6952h16.017l10.423 46.6952 10.255-46.6952h12.796l-14.491 60.0004h-16.78l-10.509-45.424-10.339 45.424H91.5502Z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="m44.1899 10.3161 14.4217 59.0207c-7.9934 4.8279-17.364 7.606-27.3835 7.606-9.9609 0-19.2805-2.7457-27.2433-7.5216l14.4421-59.105c3.2948-13.48391 22.4682-13.48393 25.763-.0001Zm-9.3803 31.3912-3.5815-9.6789-3.5815 9.6789-9.679 3.5816 9.679 3.5815 3.5815 9.679 3.5815-9.679 9.679-3.5815-9.679-3.5816Z"></path>
                    <path d="M31.2281 83.573c10.5354 0 20.4331-2.7303 29.0242-7.5219l1.6358 6.6946c-9.1497 4.7644-19.5501 7.4575-30.5795 7.4575-11.0295 0-21.42989-2.6931-30.579596-7.4576l1.616546-6.6157C10.9037 80.8726 20.7505 83.573 31.2281 83.573Z"></path>
                </svg>
            </a>

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://www.cmsmax.com?ref=filamentphp.com" target="_blank" title="CMS Max">
                <svg viewBox="0 0 1199.341311 206.635059" class="fill-current h-5">
                    <g transform="translate(-0.654992,206.693484) scale(0.100000,-0.100000)"
                       fill="currentColor" stroke="none">
                        <path d="M896 2060 c-233 -37 -443 -146 -603 -313 -130 -136 -211 -281 -260
                            -462 -23 -89 -26 -118 -26 -260 0 -141 3 -172 26 -257 97 -365 367 -641 724
                            -743 90 -26 99 -27 310 -23 212 4 220 5 303 35 172 61 293 139 417 266 162
                            167 260 357 299 579 19 110 15 206 -16 357 -46 224 -125 376 -275 526 -141
                            141 -274 213 -496 270 -116 29 -301 41 -403 25z m269 -455 c230 -48 440 -249
                            484 -463 38 -182 -19 -377 -148 -514 -192 -205 -478 -253 -737 -124 -203 101
                            -322 281 -332 502 -8 186 39 307 167 434 152 151 353 210 566 165z"/>
                        <path d="M3264 1720 c-92 -13 -210 -56 -290 -106 -493 -306 -445 -1031 84
                            -1298 167 -85 411 -88 610 -10 131 52 255 152 302 245 l18 35 -162 97 c-89 53
                            -165 97 -169 97 -4 0 -7 -7 -7 -16 0 -30 -102 -120 -158 -138 -76 -25 -201
                            -19 -262 12 -131 69 -198 204 -188 384 9 147 76 261 186 315 50 24 68 28 142
                            27 93 -2 153 -19 207 -60 28 -21 44 -41 89 -112 4 -6 304 211 304 219 0 4 -20
                            34 -45 68 -77 104 -212 190 -355 224 -82 20 -227 28 -306 17z"/>
                        <path d="M6240 1714 c-257 -55 -412 -253 -397 -506 12 -217 121 -308 513 -427
                            125 -38 168 -65 172 -108 3 -25 -2 -35 -23 -49 -21 -14 -43 -16 -128 -12 -116
                            6 -193 30 -340 105 -48 25 -90 44 -92 42 -15 -16 -163 -343 -159 -351 19 -30
                            241 -111 394 -144 116 -25 339 -25 430 -1 150 40 263 126 315 240 76 165 45
                            380 -70 490 -74 72 -181 120 -434 198 -117 36 -161 66 -161 109 0 103 198 91
                            432 -26 l67 -34 59 113 c33 61 71 136 86 164 l26 53 -67 34 c-212 106 -449
                            148 -623 110z"/>
                        <path d="M4127 1714 c-4 -4 -7 -333 -7 -731 l0 -723 205 0 205 0 2 371 3 371
                            115 -256 115 -256 110 0 111 0 117 258 116 257 1 -372 0 -373 205 0 205 0 0
                            730 0 730 -220 -2 -221 -3 -156 -339 c-123 -265 -159 -335 -166 -320 -4 10
                            -74 163 -155 339 l-147 320 -216 3 c-118 1 -218 -1 -222 -4z"/>
                        <path d="M7600 990 l0 -730 200 0 200 0 2 377 3 377 119 -262 118 -263 111 3
                            111 3 118 260 117 260 1 -377 0 -378 200 0 200 0 0 730 0 730 -217 -2 -218 -3
                            -157 -340 -157 -339 -20 44 c-11 25 -81 178 -155 340 l-135 295 -221 3 -220 2
                            0 -730z"/>
                        <path d="M11813 1599 c-131 -27 -173 -191 -74 -290 67 -67 158 -63 225 11 34
                            38 36 44 36 108 0 49 -5 76 -20 99 -34 57 -103 86 -167 72z m103 -48 c42 -25
                            68 -83 61 -134 -7 -51 -33 -87 -81 -111 -106 -52 -217 66 -171 182 30 75 122
                            105 191 63z"/>
                        <path d="M11780 1435 c0 -88 1 -95 20 -95 16 0 20 7 20 35 0 32 2 35 30 35 28
                            0 30 -3 30 -35 0 -28 4 -35 20 -35 22 0 28 37 10 70 -7 13 -7 27 1 44 10 20 9
                            30 -5 51 -14 22 -24 25 -71 25 l-55 0 0 -95z m95 40 c0 -14 -8 -21 -27 -23
                            -24 -3 -28 0 -28 23 0 23 4 26 28 23 19 -2 27 -9 27 -23z"/>
                        <path d="M9627 1350 c-81 -14 -188 -50 -259 -87 -38 -20 -68 -39 -68 -43 0 -4
                            24 -59 54 -123 l54 -115 102 51 c99 50 103 52 203 55 154 6 203 -22 215 -125
                            5 -42 3 -46 -14 -39 -131 52 -337 41 -468 -26 -58 -29 -135 -106 -164 -163
                            -37 -73 -42 -188 -11 -270 30 -82 112 -163 194 -195 163 -62 345 -25 473 96
                            29 28 55 46 57 40 2 -6 9 -28 15 -48 14 -47 67 -94 122 -109 44 -12 216 -7
                            251 6 15 6 17 24 17 169 l0 161 -33 15 c-18 9 -34 25 -38 40 -4 14 -7 97 -8
                            185 -1 226 -25 307 -116 399 -90 89 -241 137 -427 135 -57 -1 -125 -5 -151 -9z
                            m253 -621 l50 -11 0 -53 c0 -46 -4 -58 -30 -83 -54 -54 -162 -77 -220 -47 -85
                            44 -77 151 14 191 38 16 118 18 186 3z"/>
                        <path d="M10440 1335 c0 -3 77 -121 172 -263 95 -141 172 -264 172 -272 0 -8
                            -79 -131 -177 -272 -97 -141 -177 -259 -177 -262 0 -3 89 -6 198 -6 l197 0 82
                            133 c45 72 85 140 88 149 6 14 18 0 54 -60 26 -42 68 -109 92 -149 l44 -72
                            202 -1 202 0 -180 261 c-100 144 -183 267 -185 273 -3 7 77 132 176 279 l180
                            267 -202 -2 -203 -3 -85 -146 -85 -146 -85 148 -85 149 -197 0 c-109 0 -198
                            -2 -198 -5z"/>
                    </g>
                </svg>
            </a>

            <!--<a class="grid place-items-center min-[850px]:col-span-2" href="https://www.cmsmax.com/careers/expert-laravel-developer-ecommerce-specialist" target="_blank" title="CMS Max">-->
            <!--    <div class="flex flex-col gap-3 items-center rounded-xl bg-peach-orange px-4 py-3 text-midnight transition hover:bg-butter">-->
            <!--        <div class="text-center text-xs font-bold">-->
            <!--            Looking for a job using Filament?-->
            <!--        </div>-->

            <!--        <svg-->
            <!--            viewBox="0 0 1199.341311 206.635059"-->
            <!--            class="block fill-current h-5"-->
            <!--        >-->
            <!--            <g-->
            <!--                transform="translate(-0.654992,206.693484) scale(0.100000,-0.100000)"-->
            <!--                fill="currentColor"-->
            <!--                stroke="none"-->
            <!--            >-->
            <!--                <path-->
            <!--                    d="M896 2060 c-233 -37 -443 -146 -603 -313 -130 -136 -211 -281 -260-->
            <!--                    -462 -23 -89 -26 -118 -26 -260 0 -141 3 -172 26 -257 97 -365 367 -641 724-->
            <!--                    -743 90 -26 99 -27 310 -23 212 4 220 5 303 35 172 61 293 139 417 266 162-->
            <!--                    167 260 357 299 579 19 110 15 206 -16 357 -46 224 -125 376 -275 526 -141-->
            <!--                    141 -274 213 -496 270 -116 29 -301 41 -403 25z m269 -455 c230 -48 440 -249-->
            <!--                    484 -463 38 -182 -19 -377 -148 -514 -192 -205 -478 -253 -737 -124 -203 101-->
            <!--                    -322 281 -332 502 -8 186 39 307 167 434 152 151 353 210 566 165z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M3264 1720 c-92 -13 -210 -56 -290 -106 -493 -306 -445 -1031 84-->
            <!--                    -1298 167 -85 411 -88 610 -10 131 52 255 152 302 245 l18 35 -162 97 c-89 53-->
            <!--                    -165 97 -169 97 -4 0 -7 -7 -7 -16 0 -30 -102 -120 -158 -138 -76 -25 -201-->
            <!--                    -19 -262 12 -131 69 -198 204 -188 384 9 147 76 261 186 315 50 24 68 28 142-->
            <!--                    27 93 -2 153 -19 207 -60 28 -21 44 -41 89 -112 4 -6 304 211 304 219 0 4 -20-->
            <!--                    34 -45 68 -77 104 -212 190 -355 224 -82 20 -227 28 -306 17z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M6240 1714 c-257 -55 -412 -253 -397 -506 12 -217 121 -308 513 -427-->
            <!--                    125 -38 168 -65 172 -108 3 -25 -2 -35 -23 -49 -21 -14 -43 -16 -128 -12 -116-->
            <!--                    6 -193 30 -340 105 -48 25 -90 44 -92 42 -15 -16 -163 -343 -159 -351 19 -30-->
            <!--                    241 -111 394 -144 116 -25 339 -25 430 -1 150 40 263 126 315 240 76 165 45-->
            <!--                    380 -70 490 -74 72 -181 120 -434 198 -117 36 -161 66 -161 109 0 103 198 91-->
            <!--                    432 -26 l67 -34 59 113 c33 61 71 136 86 164 l26 53 -67 34 c-212 106 -449-->
            <!--                    148 -623 110z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M4127 1714 c-4 -4 -7 -333 -7 -731 l0 -723 205 0 205 0 2 371 3 371-->
            <!--                    115 -256 115 -256 110 0 111 0 117 258 116 257 1 -372 0 -373 205 0 205 0 0-->
            <!--                    730 0 730 -220 -2 -221 -3 -156 -339 c-123 -265 -159 -335 -166 -320 -4 10-->
            <!--                    -74 163 -155 339 l-147 320 -216 3 c-118 1 -218 -1 -222 -4z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M7600 990 l0 -730 200 0 200 0 2 377 3 377 119 -262 118 -263 111 3-->
            <!--                    111 3 118 260 117 260 1 -377 0 -378 200 0 200 0 0 730 0 730 -217 -2 -218 -3-->
            <!--                    -157 -340 -157 -339 -20 44 c-11 25 -81 178 -155 340 l-135 295 -221 3 -220 2-->
            <!--                    0 -730z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M11813 1599 c-131 -27 -173 -191 -74 -290 67 -67 158 -63 225 11 34-->
            <!--                    38 36 44 36 108 0 49 -5 76 -20 99 -34 57 -103 86 -167 72z m103 -48 c42 -25-->
            <!--                    68 -83 61 -134 -7 -51 -33 -87 -81 -111 -106 -52 -217 66 -171 182 30 75 122-->
            <!--                    105 191 63z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M11780 1435 c0 -88 1 -95 20 -95 16 0 20 7 20 35 0 32 2 35 30 35 28-->
            <!--                    0 30 -3 30 -35 0 -28 4 -35 20 -35 22 0 28 37 10 70 -7 13 -7 27 1 44 10 20 9-->
            <!--                    30 -5 51 -14 22 -24 25 -71 25 l-55 0 0 -95z m95 40 c0 -14 -8 -21 -27 -23-->
            <!--                    -24 -3 -28 0 -28 23 0 23 4 26 28 23 19 -2 27 -9 27 -23z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M9627 1350 c-81 -14 -188 -50 -259 -87 -38 -20 -68 -39 -68 -43 0 -4-->
            <!--                    24 -59 54 -123 l54 -115 102 51 c99 50 103 52 203 55 154 6 203 -22 215 -125-->
            <!--                    5 -42 3 -46 -14 -39 -131 52 -337 41 -468 -26 -58 -29 -135 -106 -164 -163-->
            <!--                    -37 -73 -42 -188 -11 -270 30 -82 112 -163 194 -195 163 -62 345 -25 473 96-->
            <!--                    29 28 55 46 57 40 2 -6 9 -28 15 -48 14 -47 67 -94 122 -109 44 -12 216 -7-->
            <!--                    251 6 15 6 17 24 17 169 l0 161 -33 15 c-18 9 -34 25 -38 40 -4 14 -7 97 -8-->
            <!--                    185 -1 226 -25 307 -116 399 -90 89 -241 137 -427 135 -57 -1 -125 -5 -151 -9z-->
            <!--                    m253 -621 l50 -11 0 -53 c0 -46 -4 -58 -30 -83 -54 -54 -162 -77 -220 -47 -85-->
            <!--                    44 -77 151 14 191 38 16 118 18 186 3z"-->
            <!--                />-->
            <!--                <path-->
            <!--                    d="M10440 1335 c0 -3 77 -121 172 -263 95 -141 172 -264 172 -272 0 -8-->
            <!--                    -79 -131 -177 -272 -97 -141 -177 -259 -177 -262 0 -3 89 -6 198 -6 l197 0 82-->
            <!--                    133 c45 72 85 140 88 149 6 14 18 0 54 -60 26 -42 68 -109 92 -149 l44 -72-->
            <!--                    202 -1 202 0 -180 261 c-100 144 -183 267 -185 273 -3 7 77 132 176 279 l180-->
            <!--                    267 -202 -2 -203 -3 -85 -146 -85 -146 -85 148 -85 149 -197 0 c-109 0 -198-->
            <!--                    -2 -198 -5z"-->
            <!--                />-->
            <!--            </g>-->
            <!--        </svg>-->
            <!--    </div>-->
            <!--</a>-->

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://www.netstudio.gr" target="_blank" title="Netstudio">
                <svg viewBox="0 0 2440 481" class="fill-current h-6">
                    <g transform="translate(0.000000,481.000000) scale(0.100000,-0.100000)"
                       fill="currentColor" stroke="none">
                        <path d="M0 4794 c0 -9 35 -80 79 -158 66 -119 116 -236 312 -742 l234 -601
    631 -252 c347 -138 676 -275 731 -305 73 -39 108 -52 127 -49 14 3 26 8 26 11
    0 3 -25 51 -57 106 -38 68 -136 303 -303 726 l-247 625 -624 250 c-536 215
    -643 261 -756 328 -72 42 -136 77 -142 77 -6 0 -11 -7 -11 -16z"/>
                        <path d="M4655 4738 c-102 -61 -217 -111 -754 -327 l-634 -256 -247 -625
    c-168 -426 -265 -657 -303 -726 -31 -55 -57 -103 -57 -106 0 -3 12 -8 26 -11
    19 -3 60 13 148 58 68 35 385 167 721 300 330 131 605 243 612 249 6 6 118
    283 248 615 196 503 248 627 310 737 74 131 87 164 63 164 -7 0 -67 -33 -133
    -72z"/>
                        <path d="M11210 2645 l0 -1785 250 0 250 0 0 1115 0 1115 255 0 255 0 0 200 0
    200 -255 0 -255 0 0 470 0 470 -250 0 -250 0 0 -1785z"/>
                        <path d="M14330 2645 l0 -1785 253 2 252 3 3 1113 2 1112 244 0 245 0 3 -672
    c4 -594 6 -684 22 -768 72 -381 242 -626 528 -760 169 -79 321 -105 571 -97
    141 4 189 9 269 30 230 60 414 191 523 372 l35 59 0 -197 0 -197 240 0 240 0
    -2 1313 -3 1312 -252 3 -253 2 0 -752 c0 -425 -4 -790 -10 -838 -14 -118 -34
    -191 -80 -289 -32 -67 -56 -100 -118 -160 -86 -86 -161 -128 -289 -163 -115
    -31 -336 -31 -448 0 -178 51 -293 145 -369 304 -92 192 -96 239 -96 1151 l0
    747 -500 0 -500 0 0 470 0 470 -255 0 -255 0 0 -1785z"/>
                        <path d="M20230 3759 l0 -671 -43 58 c-151 204 -436 364 -721 403 -113 16
    -318 13 -427 -5 -544 -93 -950 -486 -1070 -1037 -43 -198 -43 -457 2 -662 115
    -535 488 -915 1009 -1030 103 -23 385 -31 503 -15 194 26 364 94 506 200 88
    67 139 121 212 224 l49 69 0 -216 0 -217 245 0 245 0 0 1785 0 1785 -255 0
    -255 0 0 -671z m-743 -680 c184 -25 360 -108 490 -232 93 -88 151 -169 202
    -279 65 -139 76 -198 76 -398 0 -152 -3 -185 -23 -253 -145 -504 -685 -776
    -1194 -603 -330 112 -546 397 -588 773 -30 277 69 556 267 750 194 190 484
    281 770 242z"/>
                        <path d="M23989 4415 c-104 -33 -194 -123 -220 -218 -6 -23 -9 -76 -7 -117 7
    -123 70 -215 187 -272 64 -32 195 -32 262 -2 67 31 124 87 159 156 26 53 30
    72 30 143 0 71 -4 90 -30 143 -17 33 -47 75 -68 93 -84 74 -216 105 -313 74z
    m175 -57 c64 -19 141 -101 162 -173 38 -132 -22 -271 -141 -326 -53 -25 -156
    -25 -210 0 -47 21 -110 88 -133 140 -20 47 -20 165 0 212 53 123 191 186 322
    147z"/>
                        <path d="M23952 4109 l3 -194 33 -3 32 -3 0 80 0 81 28 0 c23 0 34 -11 77 -80
    46 -73 53 -80 83 -80 17 0 32 5 32 10 0 6 -22 44 -50 84 -49 74 -49 74 -25 80
    54 14 82 74 64 140 -15 53 -52 68 -177 74 l-102 5 2 -194z m196 115 c12 -8 22
    -26 22 -39 0 -35 -36 -55 -97 -55 l-53 0 0 55 0 55 53 0 c31 0 61 -6 75 -16z"/>
                        <path d="M20940 4155 l0 -265 255 0 255 0 0 265 0 265 -255 0 -255 0 0 -265z"/>
                        <path d="M6715 3544 c-146 -26 -270 -76 -385 -154 -70 -48 -178 -160 -216
    -225 l-29 -50 -5 185 -5 185 -237 3 -238 2 0 -1315 0 -1315 249 0 249 0 5 803
    c4 871 4 858 62 1013 71 188 226 325 430 380 91 24 302 30 405 10 241 -45 404
    -206 469 -462 35 -138 41 -283 41 -1026 l0 -718 256 0 255 0 -4 883 c-4 960
    -3 937 -63 1129 -57 181 -132 309 -249 423 -131 128 -317 216 -525 250 -118
    19 -356 18 -465 -1z"/>
                        <path d="M9395 3545 c-134 -24 -254 -63 -380 -124 -363 -177 -624 -500 -725
    -896 -67 -263 -60 -528 21 -782 160 -498 573 -855 1084 -938 120 -20 356 -19
    476 1 424 71 791 349 995 756 24 48 44 90 44 93 0 3 -118 5 -262 5 l-263 0
    -39 -63 c-166 -260 -479 -405 -800 -369 -389 43 -683 287 -766 635 -11 45 -20
    97 -20 114 l0 33 1118 2 1117 3 -1 180 c0 200 -14 295 -66 448 -66 199 -173
    372 -323 523 -187 187 -411 308 -685 369 -104 23 -417 29 -525 10z m362 -426
    c289 -39 540 -218 663 -472 34 -71 69 -185 70 -224 0 -10 -179 -13 -861 -13
    l-862 0 7 51 c22 162 136 354 280 468 192 153 455 224 703 190z"/>
                        <path d="M13053 3546 c-278 -53 -504 -217 -609 -441 -46 -99 -64 -174 -70
    -295 -16 -282 107 -480 385 -619 53 -27 184 -78 291 -114 477 -160 591 -233
    636 -409 42 -163 -46 -339 -210 -417 -271 -130 -596 20 -648 298 -6 31 -12 62
    -14 69 -3 9 -62 12 -254 12 l-252 0 7 -67 c36 -338 238 -590 568 -708 134 -48
    237 -65 391 -65 399 1 716 186 861 504 54 117 69 194 68 341 -2 307 -117 499
    -380 637 -105 55 -206 91 -442 159 -277 79 -406 151 -465 258 -91 169 6 379
    204 438 82 25 219 21 294 -7 104 -40 184 -134 201 -236 3 -21 9 -51 11 -66 l6
    -28 250 0 251 0 -7 61 c-39 341 -248 580 -589 675 -77 22 -119 26 -252 30
    -108 2 -183 -1 -232 -10z"/>
                        <path d="M22727 3540 c-271 -49 -504 -165 -697 -346 -154 -146 -282 -350 -354
    -565 -53 -157 -70 -268 -70 -454 0 -251 46 -443 156 -658 192 -375 526 -618
    963 -704 125 -24 423 -24 555 0 501 93 892 434 1050 917 52 158 65 247 65 445
    0 199 -13 286 -66 448 -113 347 -359 637 -674 791 -215 106 -349 136 -620 142
    -168 3 -217 0 -308 -16z m429 -471 c345 -61 610 -306 706 -654 18 -68 22 -106
    22 -245 0 -150 -3 -173 -27 -251 -51 -167 -105 -263 -212 -377 -106 -114 -261
    -206 -420 -248 -99 -27 -350 -27 -450 0 -103 27 -260 106 -337 170 -284 236
    -396 635 -281 1000 97 308 342 532 658 599 83 18 257 21 341 6z"/>
                        <path d="M20940 2170 l0 -1310 255 0 255 0 0 1310 0 1310 -255 0 -255 0 0
    -1310z"/>
                        <path d="M1974 2051 c-116 -69 -205 -108 -750 -325 l-619 -246 -245 -622
    c-165 -417 -264 -655 -302 -725 -32 -57 -58 -108 -58 -113 0 -26 53 -12 148
    37 56 30 385 167 729 304 345 138 629 252 631 254 2 1 110 277 242 612 200
    511 251 632 315 746 71 127 82 158 52 156 -7 0 -71 -36 -143 -78z"/>
                        <path d="M2665 2120 c-4 -6 28 -72 70 -147 64 -114 116 -237 315 -746 131
    -335 240 -610 242 -612 2 -2 282 -115 623 -250 341 -136 670 -272 730 -304
    102 -53 155 -67 155 -40 0 6 -29 63 -64 127 -44 81 -137 305 -302 724 l-239
    606 -620 248 c-536 214 -638 258 -754 326 -73 43 -137 78 -142 78 -4 0 -11 -5
    -14 -10z"/>
                    </g>
                </svg>
            </a>

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://sevalla.com/application-hosting/filament-php?ref=filamentphp.com" target="_blank" title="Sevalla">
                <svg viewBox="0 0 1700 545" class="fill-current h-6">
                    <path d="M1611.44 387.762C1600.81 387.762 1591.24 385.869 1582.72 382.084C1574.28 378.225 1567.58 372.547 1562.63 365.049C1557.75 357.55 1555.31 348.305 1555.31 337.312C1555.31 327.849 1557.06 320.023 1560.55 313.835C1564.05 307.647 1568.82 302.697 1574.86 298.984C1580.9 295.271 1587.71 292.469 1595.28 290.576C1602.92 288.61 1610.82 287.191 1618.98 286.317C1628.8 285.298 1636.77 284.388 1642.89 283.587C1649 282.713 1653.45 281.403 1656.21 279.656C1659.05 277.836 1660.47 275.033 1660.47 271.248V270.593C1660.47 262.366 1658.03 255.996 1653.15 251.483C1648.28 246.969 1641.25 244.713 1632.08 244.713C1622.4 244.713 1614.72 246.824 1609.04 251.046C1603.43 255.268 1599.65 260.255 1597.68 266.006L1560.77 260.765C1563.68 250.573 1568.49 242.055 1575.19 235.212C1581.88 228.297 1590.07 223.128 1599.76 219.706C1609.44 216.212 1620.14 214.465 1631.86 214.465C1639.94 214.465 1647.99 215.411 1655.99 217.304C1664 219.197 1671.32 222.327 1677.94 226.695C1684.57 230.99 1689.88 236.85 1693.89 244.276C1697.96 251.701 1700 260.983 1700 272.121V384.377H1662V361.336H1660.69C1658.29 365.995 1654.9 370.363 1650.53 374.44C1646.24 378.444 1640.81 381.683 1634.26 384.158C1627.78 386.561 1620.18 387.762 1611.44 387.762ZM1621.71 358.715C1629.64 358.715 1636.52 357.15 1642.34 354.02C1648.17 350.817 1652.64 346.594 1655.77 341.353C1658.98 336.111 1660.58 330.397 1660.58 324.209V304.444C1659.34 305.463 1657.23 306.409 1654.25 307.283C1651.33 308.157 1648.06 308.921 1644.42 309.576C1640.78 310.231 1637.17 310.814 1633.61 311.323C1630.04 311.833 1626.95 312.27 1624.33 312.634C1618.43 313.435 1613.15 314.745 1608.49 316.565C1603.83 318.385 1600.16 320.933 1597.46 324.209C1594.77 327.412 1593.42 331.561 1593.42 336.657C1593.42 343.937 1596.08 349.433 1601.39 353.146C1606.71 356.859 1613.48 358.715 1621.71 358.715Z" />
                    <path d="M1522.53 160.739V384.377H1483V160.739H1522.53Z" />
                    <path d="M1442.35 160.739V384.377H1402.82V160.739H1442.35Z" />
                    <path d="M1274.51 387.762C1263.88 387.762 1254.31 385.869 1245.79 382.084C1237.35 378.225 1230.65 372.547 1225.7 365.049C1220.82 357.55 1218.38 348.305 1218.38 337.312C1218.38 327.849 1220.13 320.023 1223.62 313.835C1227.12 307.647 1231.89 302.697 1237.93 298.984C1243.97 295.271 1250.78 292.469 1258.35 290.576C1265.99 288.61 1273.89 287.191 1282.05 286.317C1291.87 285.298 1299.84 284.388 1305.96 283.587C1312.07 282.713 1316.52 281.403 1319.28 279.656C1322.12 277.836 1323.54 275.033 1323.54 271.248V270.593C1323.54 262.366 1321.1 255.996 1316.22 251.483C1311.35 246.969 1304.32 244.713 1295.15 244.713C1285.47 244.713 1277.79 246.824 1272.11 251.046C1266.5 255.268 1262.72 260.255 1260.75 266.006L1223.84 260.765C1226.75 250.573 1231.56 242.055 1238.26 235.212C1244.95 228.297 1253.14 223.128 1262.83 219.706C1272.51 216.212 1283.21 214.465 1294.93 214.465C1303.01 214.465 1311.06 215.411 1319.06 217.304C1327.07 219.197 1334.39 222.327 1341.01 226.695C1347.64 230.99 1352.95 236.85 1356.95 244.276C1361.03 251.701 1363.07 260.983 1363.07 272.121V384.377H1325.07V361.336H1323.76C1321.36 365.995 1317.97 370.363 1313.6 374.44C1309.31 378.444 1303.88 381.683 1297.33 384.158C1290.85 386.561 1283.25 387.762 1274.51 387.762ZM1284.78 358.715C1292.71 358.715 1299.59 357.15 1305.41 354.02C1311.24 350.817 1315.71 346.594 1318.84 341.353C1322.05 336.111 1323.65 330.397 1323.65 324.209V304.444C1322.41 305.463 1320.3 306.409 1317.32 307.283C1314.4 308.157 1311.13 308.921 1307.49 309.576C1303.85 310.231 1300.24 310.814 1296.68 311.323C1293.11 311.833 1290.02 312.27 1287.4 312.634C1281.5 313.435 1276.22 314.745 1271.56 316.565C1266.9 318.385 1263.23 320.933 1260.53 324.209C1257.84 327.412 1256.49 331.561 1256.49 336.657C1256.49 343.937 1259.15 349.433 1264.46 353.146C1269.78 356.859 1276.55 358.715 1284.78 358.715Z" />
                    <path d="M1203.7 216.649L1143.96 384.376H1100.29L1040.55 216.649H1082.7L1121.25 341.243H1123L1161.65 216.649H1203.7Z" />
                    <path d="M950.657 387.653C933.841 387.653 919.318 384.158 907.087 377.17C894.93 370.108 885.575 360.135 879.024 347.249C872.472 334.291 869.196 319.04 869.196 301.496C869.196 284.242 872.472 269.1 879.024 256.069C885.648 242.965 894.894 232.774 906.76 225.494C918.626 218.141 932.567 214.465 948.583 214.465C958.92 214.465 968.675 216.139 977.848 219.488C987.093 222.764 995.247 227.86 1002.31 234.776C1009.44 241.692 1015.05 250.5 1019.12 261.202C1023.2 271.83 1025.24 284.497 1025.24 299.202V311.323H887.759V284.679H987.348C987.275 277.108 985.637 270.374 982.434 264.477C979.231 258.508 974.754 253.812 969.003 250.391C963.324 246.969 956.7 245.259 949.129 245.259C941.048 245.259 933.95 247.224 927.835 251.155C921.72 255.014 916.952 260.11 913.53 266.443C910.181 272.704 908.471 279.583 908.398 287.081V310.341C908.398 320.096 910.181 328.467 913.749 335.456C917.316 342.372 922.302 347.686 928.709 351.399C935.115 355.039 942.613 356.859 951.203 356.859C956.954 356.859 962.16 356.058 966.819 354.457C971.478 352.782 975.518 350.343 978.94 347.14C982.361 343.937 984.946 339.97 986.693 335.238L1023.6 339.387C1021.27 349.142 1016.83 357.66 1010.28 364.94C1003.8 372.147 995.501 377.752 985.382 381.756C975.263 385.687 963.688 387.653 950.657 387.653Z" />
                    <path d="M799.991 222.218C798.972 212.681 794.677 205.256 787.106 199.941C779.608 194.627 769.853 191.97 757.841 191.97C749.396 191.97 742.153 193.244 736.111 195.792C730.068 198.34 725.446 201.798 722.243 206.166C719.039 210.534 717.401 215.52 717.329 221.126C717.329 225.785 718.384 229.825 720.495 233.247C722.679 236.668 725.628 239.58 729.34 241.983C733.053 244.312 737.166 246.278 741.68 247.879C746.193 249.481 750.743 250.828 755.329 251.92L776.295 257.161C784.74 259.127 792.857 261.784 800.647 265.133C808.509 268.481 815.534 272.704 821.722 277.8C827.982 282.895 832.933 289.047 836.573 296.254C840.213 303.461 842.033 311.906 842.033 321.588C842.033 334.692 838.684 346.23 831.986 356.204C825.289 366.104 815.607 373.857 802.94 379.463C790.346 384.995 775.094 387.762 757.186 387.762C739.787 387.762 724.681 385.068 711.869 379.681C699.129 374.294 689.156 366.432 681.949 356.094C674.814 345.757 670.956 333.163 670.374 318.312H710.231C710.813 326.101 713.215 332.58 717.438 337.749C721.66 342.918 727.156 346.776 733.927 349.324C740.77 351.872 748.414 353.146 756.858 353.146C765.667 353.146 773.384 351.836 780.008 349.215C786.706 346.521 791.947 342.809 795.733 338.077C799.518 333.272 801.447 327.667 801.52 321.26C801.447 315.436 799.737 310.632 796.388 306.846C793.039 302.988 788.344 299.785 782.301 297.237C776.332 294.616 769.343 292.286 761.335 290.248L735.892 283.696C717.474 278.964 702.914 271.794 692.213 262.184C681.585 252.502 676.27 239.653 676.27 223.637C676.27 210.461 679.837 198.922 686.972 189.022C694.179 179.121 703.97 171.441 716.346 165.981C728.722 160.448 742.735 157.682 758.387 157.682C774.257 157.682 788.162 160.448 800.101 165.981C812.112 171.441 821.54 179.048 828.383 188.803C835.226 198.485 838.757 209.624 838.975 222.218H799.991Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M98.6795 0C45.6293 0 2.62354 43.215 2.62354 96.5233V447.517C2.62354 500.824 45.6293 544.041 98.6795 544.041H465.437C518.489 544.041 561.493 500.824 561.493 447.517V96.5233C561.493 43.215 518.489 0 465.437 0H98.6795ZM337.651 119.923H212.487V187.197H148.45V239.03C148.45 247.023 151.705 254.668 157.459 260.188L212.487 312.97H148.45V377.318H212.487V444.592H337.651V377.318H401.688V325.485C401.688 317.492 398.434 309.846 392.679 304.326L337.651 251.546H401.688V187.197H337.651V119.923ZM337.651 187.197V251.546H241.595C225.519 251.546 212.487 238.45 212.487 222.296V187.197H337.651ZM337.651 377.318H212.487V312.97H308.543C324.619 312.97 337.651 326.065 337.651 342.219V377.318Z" />
                </svg>
            </a>

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://vormkracht10.nl/?ref=filament" target="_blank" title="Vormkracht10">
                <svg viewBox="0 0 224 105" class="fill-current h-9">
                    <path d="M126.99,18.17l-25.77-3.14c-1,5.4-1.52,10.98-1.53,16.69,0,5.91.56,11.68,1.63,17.26l25.81-3.14c-1.18-4.52-1.8-9.26-1.8-14.11,0-4.66.57-9.2,1.66-13.56ZM72.64,11.55l-19.04-2.31c-4.33.72-7.76,10.68-7.76,22.85s3.21,21.48,7.34,22.75l19.55-2.38c-1.18-6.74-1.79-13.67-1.79-20.73s.58-13.6,1.7-20.18ZM178.51,24.5v-.06l-22.52-2.74c-1.23,3.09-1.9,6.45-1.91,10.03,0,2.85.43,5.54,1.22,8.09.26.84.57,1.67.91,2.48l22.03-2.68c-1.35-.46-2.41-3.65-2.41-7.53,0-4.13,1.2-7.49,2.68-7.58Z"></path>
                    <g>
                        <path d="M6.35,81.25h4.04l4.41,12.06,4.44-12.06h3.95l-6.71,16.53h-3.39l-6.74-16.53Z"></path>
                        <path d="M24.87,89.54v-.06c0-4.69,3.73-8.58,8.76-8.58s8.73,3.82,8.73,8.51v.06c0,4.66-3.73,8.54-8.79,8.54s-8.7-3.82-8.7-8.48ZM38.6,89.54v-.06c0-2.89-2.08-5.28-5.03-5.28s-4.94,2.36-4.94,5.22v.06c0,2.86,2.08,5.25,5,5.25s4.97-2.36,4.97-5.19Z"></path>
                        <path d="M46.49,81.25h3.76v3.7c1.03-2.45,2.92-4.13,5.81-4.01v3.98h-.22c-3.29,0-5.59,2.14-5.59,6.49v6.25h-3.76v-16.41Z"></path>
                        <path d="M59.63,81.25h3.76v2.49c1.06-1.46,2.49-2.83,5-2.83,2.36,0,4.04,1.15,4.91,2.89,1.3-1.74,3.05-2.89,5.53-2.89,3.57,0,5.75,2.27,5.75,6.28v10.47h-3.76v-9.32c0-2.61-1.21-4.01-3.32-4.01s-3.51,1.43-3.51,4.07v9.26h-3.76v-9.35c0-2.55-1.24-3.98-3.32-3.98s-3.51,1.55-3.51,4.07v9.26h-3.76v-16.41Z"></path>
                        <path d="M89.46,74.97h3.76v13.55l6.8-7.27h4.57l-6.53,6.68,6.74,9.73h-4.41l-4.85-7.12-2.33,2.42v4.69h-3.76v-22.68Z"></path>
                        <path d="M107.85,81.25h3.76v3.7c1.03-2.45,2.92-4.13,5.81-4.01v3.98h-.22c-3.29,0-5.59,2.14-5.59,6.49v6.25h-3.76v-16.41Z"></path>
                        <path d="M119.13,92.93v-.06c0-3.54,2.77-5.28,6.77-5.28,1.83,0,3.14.28,4.41.68v-.4c0-2.33-1.43-3.57-4.07-3.57-1.83,0-3.2.4-4.69,1.03l-.99-2.95c1.8-.81,3.57-1.34,6.18-1.34,2.45,0,4.29.65,5.44,1.83,1.21,1.18,1.77,2.92,1.77,5.06v9.73h-3.67v-2.05c-1.12,1.34-2.83,2.39-5.34,2.39-3.08,0-5.81-1.77-5.81-5.06ZM130.38,91.75v-1.12c-.96-.37-2.24-.65-3.73-.65-2.42,0-3.85,1.03-3.85,2.73v.06c0,1.58,1.4,2.49,3.2,2.49,2.49,0,4.38-1.43,4.38-3.51Z"></path>
                        <path d="M137.87,89.54v-.06c0-4.66,3.6-8.58,8.54-8.58,3.08,0,5,1.15,6.56,2.83l-2.36,2.52c-1.15-1.21-2.36-2.05-4.23-2.05-2.73,0-4.75,2.36-4.75,5.22v.06c0,2.92,2.02,5.25,4.91,5.25,1.77,0,3.08-.81,4.26-2.02l2.27,2.24c-1.62,1.8-3.51,3.08-6.71,3.08-4.88,0-8.48-3.82-8.48-8.48Z"></path>
                        <path d="M156.82,74.97h3.76v8.79c1.06-1.52,2.58-2.86,5.13-2.86,3.7,0,5.84,2.49,5.84,6.28v10.47h-3.76v-9.32c0-2.55-1.27-4.01-3.51-4.01s-3.7,1.52-3.7,4.07v9.26h-3.76v-22.68Z"></path>
                        <path d="M177.17,93.12v-8.64h-2.08v-3.23h2.08v-4.51h3.76v4.51h4.41v3.23h-4.41v8.05c0,1.46.75,2.05,2.02,2.05.84,0,1.58-.19,2.33-.56v3.08c-.93.53-1.96.84-3.39.84-2.77,0-4.72-1.21-4.72-4.82Z"></path>
                        <path d="M190.82,75.9h3.82v21.75h-3.82v-21.75Z"></path>
                        <path d="M199.05,86.84v-.06c0-6.21,3.79-11.25,9.51-11.25s9.45,4.97,9.45,11.19v.06c0,6.21-3.79,11.25-9.51,11.25s-9.45-4.97-9.45-11.19ZM214.05,86.84v-.06c0-4.29-2.21-7.8-5.56-7.8s-5.5,3.42-5.5,7.74v.06c0,4.29,2.17,7.8,5.56,7.8s5.5-3.48,5.5-7.74Z"></path>
                    </g>
                </svg>
            </a>

            <a class="grid place-items-center transition duration-300 will-change-transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none min-[850px]:col-span-2" href="https://lunarphp.io" target="_blank" title="Lunar">
                <svg viewBox="0 0 204 58" class="fill-current h-6">
                    <path d="M13.67 37.66C13.53 37.43 13.4 37.21 13.27 36.98C12.8 36.14 12.03 35.62 11.07 35.49C10.11 35.36 9.23001 35.66 8.55001 36.34L6.53001 38.36C5.15001 39.74 2.92 39.74 1.54 38.36C0.160005 36.98 0.160005 34.74 1.54 33.37L8.45001 26.46C9.49001 25.42 10.05 24.21 10.18 22.75C10.66 17.18 13.03 11.75 17.29 7.48999C22.09 2.68999 28.39 0.289978 34.69 0.289978C40.99 0.289978 47.28 2.68999 52.08 7.48999C56.88 12.29 59.28 18.59 59.28 24.88C59.28 31.17 56.88 37.47 52.08 42.27C47.82 46.53 42.38 48.9 36.82 49.38C35.36 49.51 34.14 50.07 33.11 51.11L27.52 56.7C26.14 58.08 23.91 58.08 22.53 56.7C21.15 55.32 21.15 53.09 22.53 51.71L23.22 51.02C23.9 50.34 24.2 49.46 24.07 48.5C23.94 47.54 23.42 46.78 22.58 46.3C22.35 46.17 22.12 46.04 21.9 45.9C20.71 45.17 19.22 45.35 18.23 46.34L10.22 54.35C8.84001 55.73 6.60001 55.73 5.23001 54.35C3.85001 52.97 3.85001 50.73 5.23001 49.36L13.24 41.35C14.23 40.36 14.41 38.87 13.68 37.68L13.67 37.66ZM17.15 24.87C17.15 29.36 18.86 33.85 22.29 37.27C25.71 40.69 30.2 42.41 34.69 42.41C39.18 42.41 43.67 40.7 47.09 37.27C50.52 33.85 52.23 29.36 52.23 24.87C52.23 20.38 50.52 15.89 47.09 12.47C43.67 9.04999 39.18 7.32999 34.69 7.32999C30.2 7.32999 25.71 9.03999 22.29 12.47C18.87 15.89 17.15 20.38 17.15 24.87Z"></path>
                    <path d="M34.69 20.02C33.61 20.02 32.63 19.58 31.92 18.87C31.21 18.16 30.78 17.19 30.78 16.1C30.78 15.02 31.22 14.04 31.93 13.33C32.64 12.62 33.62 12.18 34.7 12.18C36.41 12.18 38.05 12.52 39.55 13.14C41.1 13.78 42.5 14.72 43.67 15.89C44.84 17.06 45.78 18.46 46.42 20.01C47.04 21.51 47.38 23.15 47.38 24.86V24.94C47.28 26.06 46.89 27.07 46.19 27.8C45.53 28.49 44.62 28.9 43.45 28.89C42.53 28.89 41.72 28.59 41.08 28.09C40.41 27.57 39.93 26.83 39.7 25.98C39.58 25.54 39.56 25.12 39.53 24.7C39.51 24.4 39.49 24.1 39.43 23.82C39.33 23.36 39.17 22.93 38.95 22.53C38.73 22.13 38.45 21.76 38.12 21.43C37.67 20.98 37.14 20.62 36.55 20.38C35.98 20.14 35.35 20.01 34.69 20.01V20.02Z"></path>
                    <path d="M80.69 45.28H93.31C94.81 45.28 95.65 44.44 95.65 42.94V41.16C95.65 39.66 94.81 38.82 93.31 38.82H82.44C80.33 38.82 79.98 37.88 79.98 36.69V14.59C79.98 13.09 79.14 12.25 77.64 12.25H75.15C73.65 12.25 72.81 13.09 72.81 14.59V37.98C72.81 43.26 75.22 45.27 80.68 45.27L80.69 45.28ZM117.39 22.63V34.07C117.39 38.55 115.76 39.79 111.95 39.79C108.14 39.79 106.51 38.55 106.51 34.07V22.63C106.51 21.12 105.67 20.28 104.17 20.28H101.78C100.28 20.28 99.44 21.12 99.44 22.63V33.97C99.44 43.1 104.04 45.74 111.94 45.74C119.84 45.74 124.44 43.1 124.44 33.97V22.63C124.44 21.12 123.6 20.28 122.1 20.28H119.71C118.21 20.28 117.37 21.12 117.37 22.63H117.39ZM142.23 19.83C134.33 19.83 129.73 22.47 129.73 31.6V42.94C129.73 44.44 130.57 45.29 132.07 45.29H134.46C135.96 45.29 136.8 44.44 136.8 42.94V31.49C136.8 27.02 138.43 25.78 142.24 25.78C146.05 25.78 147.68 27.02 147.68 31.49V42.94C147.68 44.44 148.52 45.29 150.02 45.29H152.41C153.91 45.29 154.75 44.44 154.75 42.94V31.6C154.75 22.47 150.15 19.83 142.25 19.83H142.23ZM170.91 19.83C168.68 19.83 165.99 20.13 163.22 20.72C161.56 21.05 160.77 21.96 160.77 23.36V24.3C160.77 25.93 161.74 26.66 163.34 26.36C165.7 25.88 168.06 25.57 169.88 25.57C173.59 25.57 175.79 26.79 175.79 29.59V30H169.22C163.06 30 159.24 31.65 159.24 37.65C159.24 43.65 163.03 45.28 169.22 45.28H174.99C180.44 45.28 182.86 43.27 182.86 37.98V29.6C182.86 22.76 177.78 19.84 170.91 19.84V19.83ZM173.27 40.21H169.56C166.52 40.21 165.89 39.5 165.89 37.64C165.89 35.78 166.52 35.06 169.59 35.06H175.8V37.62C175.8 39.32 175.44 40.21 173.27 40.21ZM200.99 20.03C190.24 20.21 188.15 21.78 188.15 27.6V42.93C188.15 44.43 188.99 45.28 190.49 45.28H193.01C194.51 45.28 195.35 44.43 195.35 42.93V28.61C195.35 26.71 195.58 26.25 200.91 26.17C202.59 26.14 203.48 25.31 203.48 23.81V22.34C203.48 20.82 202.62 20 200.99 20.03V20.03Z"></path>
                </svg>
            </a>

            <a href="https://github.com/filamentphp/filament?sponsor=1" target="_blank" class="text-midnight block my-auto font-medium text-xs text-center rounded-xl bg-pink-100 px-4 py-3 transition hover:bg-pink-200">
                Your logo here? <span class="hover:scale-105">💖</span>
            </a>
        </div>
    </div>
</div>
