---
import MobileNavigation from '@components/MobileNavigation.astro';
import VersionSelector from '@components/VersionSelector.astro';
import ThemeSelector from '@components/ThemeSelector.astro';
import { Icon } from 'astro-icon/components';
import Logo from './Logo.astro';
import HalloweenLogo from './HalloweenLogo.astro';
import ChristmasLogo from './ChristmasLogo.astro';

let { navigation = null } = Astro.props
---

<header
  x-data="{ isScrolled: false }"
  x-on:scroll.window="isScrolled = window.scrollY > 0"
  x-init="isScrolled = window.scrollY > 0"
  class="sticky top-0 z-50 px-4 py-3 border-b border-b-fair-pink dark:border-b-gray-800 transition duration-500 sm:px-6 lg:px-8 bg-cream dark:bg-[#171527]"
>
  <div
    class="w-full max-w-9xl mx-auto flex flex-wrap gap-5 items-center justify-between sm:flex-nowrap"
  >
    <div class="relative flex flex-grow basis-0 items-center gap-3">
      <div class="flex lg:hidden">
        <MobileNavigation navigation={navigation} />
      </div>
      <div
        x-data="{
          get isHalloween() {
            // Get the current date
            const today = new Date()
            const month = today.getMonth() + 1 // Months are 0-indexed, so we add 1
            const day = today.getDate()
            return (month === 10 && day >= 25) || (month === 11 && day === 1)
          },

          get isChristmas() {
            // Get the current date
            const today = new Date()
            const month = today.getMonth() + 1 // Months are 0-indexed, so we add 1
            const day = today.getDate()
            return (month === 12 && day >= 1)
          },
        }"
        class="flex gap-3 items-center"
      >
        <a
          href="/"
          aria-label="Homepage"
          class="text-gray-900 group/filament relative dark:text-primary-500 transition duration-500 ease-out hidden min-[510px]:block motion-reduce:transition-none"
        >
          <div
            x-cloak
            x-show="isHalloween === true"
          >
            <HalloweenLogo
              className="hover:text-stone-800 transition motion-reduce:transition-none text-stone-900 dark:hover:text-butter dark:text-[#ffa434]"
            />
          </div>
          <div
            x-cloak
            x-show="isChristmas === true"
          >
            <ChristmasLogo
              className="hover:text-stone-800 transition motion-reduce:transition-none text-stone-900 dark:hover:text-butter dark:text-[#ffa434]"
            />
          </div>
          <div
            x-cloak
            x-show="isHalloween === false && isChristmas === false"
          >
            <Logo
              className="hover:text-stone-800 transition motion-reduce:transition-none text-stone-900 dark:hover:text-butter dark:text-[#ffa434]"
            />
          </div>
        </a>
        <a
          href="/docs/"
          aria-label="Docs homepage"
          class="transition duration-500 ease-out motion-reduce:transition-none hover:translate-x-1"
          x-bind:class="{
            'ml-6': isHalloween || isChristmas,
          }"
        >
          <div
            class="font-black text-butter dark:text-white text-xl min-[510px]:pt-1"
          >
            DOCS
          </div>
        </a>
      </div>
    </div>
    <div class="relative flex flex-1 justify-end gap-3.5 items-center">
      <VersionSelector class="relative z-10" />
      <ThemeSelector class="relative z-10" />
      <div id="docsearch"></div>
      <a
        href="https://github.com/filamentphp/filament"
        class="group block"
        aria-label="GitHub"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon
          name="github"
          class="h-7 w-7 transition duration-200 text-stone-800 group-hover:text-black dark:text-gray-300 dark:group-hover:text-white"
        />
      </a>
    </div>
  </div>
</header>
