<div
  class:list={[
    "prose prose-slate max-w-none dark:prose-invert dark:text-gray-300",
    // headings
    "prose-headings:scroll-mt-16 prose-headings:font-display prose-headings:font-bold",
    // lead
    "prose-lead:text-gray-500 dark:prose-lead:text-gray-300",
    // links
    "dark:prose-a:text-butter",
    // link underline
    "prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.peach-orange))] prose-a:transition hover:prose-a:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] dark:prose-a:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.hurricane))] dark:hover:prose-a:[--tw-prose-underline-size:6px]",
    // pre
    "prose-pre:rounded-xl prose-pre:bg-gray-900 prose-pre:shadow-lg dark:prose-pre:bg-gray-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-gray-300/10",
    // code
    "prose-code:font-normal prose-code:before:hidden prose-code:after:hidden",
    // blockquote
    "prose-blockquote:not-italic [&_p]:before:hidden [&_p]:after:hidden",
    // hr
    "dark:prose-hr:border-gray-800"
  ]}
>
  <slot />
</div>
