<div
  class:list={[
    "prose prose-slate max-w-none dark:prose-invert dark:text-gray-300",
    // headings
    "prose-headings:scroll-mt-16 prose-headings:font-display prose-headings:font-bold",
    // lead
    "prose-lead:text-gray-500 prose-lead:dark:text-gray-300",
    // links
    "prose-a:dark:text-butter",
    // link underline
    "prose-a:no-underline prose-a:shadow-[inset_0_-2px_0_0_var(--tw-prose-background,#fff),inset_0_calc(-1*(var(--tw-prose-underline-size,4px)+2px))_0_0_var(--tw-prose-underline,theme(colors.peach-orange))] prose-a:transition prose-a:hover:[--tw-prose-underline-size:6px] dark:[--tw-prose-background:theme(colors.slate.900)] prose-a:dark:shadow-[inset_0_calc(-1*var(--tw-prose-underline-size,2px))_0_0_var(--tw-prose-underline,theme(colors.hurricane))] prose-a:dark:hover:[--tw-prose-underline-size:6px]",
    // pre
    "prose-pre:rounded-xl prose-pre:bg-white/50! prose-pre:dark:bg-black/50! prose-pre:ring-1 prose-pre:ring-black/5 prose-pre:dark:ring-gray-300/10",
    // code
    "prose-code:font-normal prose-code:before:hidden prose-code:after:hidden",
    // blockquote
    "prose-blockquote:not-italic [&_p]:before:hidden [&_p]:after:hidden",
    // hr
    "prose-hr:dark:border-gray-800"
  ]}
>
  <slot />
</div>
