---
import { Icon } from 'astro-icon';
const { title, description, href, icon } = Astro.props;
---

<div class="group relative rounded-xl border border-slate-200 dark:border-slate-800">
  <div
    class="absolute -inset-px rounded-xl border-2 border-transparent opacity-0 [background:linear-gradient(var(--quick-links-hover-bg,theme(colors.amber.50)),var(--quick-links-hover-bg,theme(colors.amber.50)))_padding-box,linear-gradient(to_top,theme(colors.indigo.400),theme(colors.cyan.400),theme(colors.amber.500))_border-box] group-hover:opacity-100 dark:[--quick-links-hover-bg:theme(colors.slate.800)]"
  >
  </div>
  <div class="relative overflow-hidden rounded-xl p-6">
    <Icon name={icon} class="h-8 w-8 text-amber-500" />
    <h2 class="mt-3 font-display text-base font-bold text-slate-900 dark:text-white">
      <a href={href}>
        <span class="absolute -inset-px rounded-xl"></span>
        {title}
      </a>
    </h2>
    <p class="mt-1 text-sm text-slate-700 dark:text-slate-300">{description}</p>
  </div>
</div>
