<section
    x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
    x-bind:aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
    role="tabpanel"
    class="py-4 px-6"
>
    <slot />
</section>
