/*! @docsearch/css 3.1.0 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */
:root {
    --docsearch-modal-height: 37.5rem;
    --docsearch-searchbox-height: 3rem;
    --docsearch-spacing: 0.75rem;
    --docsearch-footer-height: 3rem;
}

.DocSearch--active {
    overflow: hidden !important;
}

/* Button */
.DocSearch-Button {
    @apply flex h-6 w-6 items-center justify-center sm:justify-start md:h-auto md:w-64 md:flex-none md:rounded-full md:py-2 md:pl-4 md:pr-3.5 md:text-sm md:ring-1 md:ring-merino md:hover:ring-gray-300 dark:md:bg-dolphin/10 dark:md:ring-inset dark:md:ring-white/5 dark:md:hover:bg-gray-700/40 dark:md:hover:ring-gray-500;
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
    @apply border-gray-300;
}

.DocSearch-Button-Container {
    @apply flex items-center;
}

.DocSearch-Search-Icon {
    @apply h-4 w-4;
    stroke-width: 2.5;
}

.DocSearch-Button .DocSearch-Search-Icon {
    @apply text-hurricane/40 dark:text-white/30;
}

.DocSearch-Button-Placeholder {
    @apply ml-2 text-sm text-hurricane/80 dark:text-white/40;
}

.DocSearch-Button-Keys {
    @apply ml-auto flex items-center;
}

.DocSearch-Button-Key {
    @apply text-gray-400;
}

@media (max-width: 768px) {
    .DocSearch-Button-Keys,
    .DocSearch-Button-Placeholder {
        display: none;
    }
}

/* Modal */
.DocSearch--active {
    overflow: hidden !important;
}

.DocSearch-Container {
    @apply fixed left-0 top-0 cursor-auto;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    height: -webkit-fill-available;
    height: calc(var(--docsearch-vh, 1vh) * 100);
    background-color: rgb(15 23 42 / 0.5);
    backdrop-filter: blur(theme('backdropBlur.DEFAULT'));
}

.DocSearch-Container a {
    text-decoration: none;
}

.DocSearch-Link {
    @apply m-0 cursor-pointer appearance-none border-none bg-none p-0 text-amber-500;
}

.DocSearch-Modal {
    @apply relative m-auto mt-16 flex max-w-xl flex-col rounded-xl bg-white shadow-lg dark:bg-gray-800;
}

.DocSearch-SearchBar {
    @apply flex items-center border-b border-gray-200 dark:border-gray-700;
    height: var(--docsearch-searchbox-height);
}

.DocSearch-Form {
    @apply relative flex w-full items-center px-4;
}

.DocSearch-Input,
.DocSearch-Input:focus {
    @apply flex-1 appearance-none border-none bg-transparent px-3 py-0 text-sm text-gray-900 outline-none ring-0 dark:text-gray-100;
}

.DocSearch-Input::placeholder {
    @apply text-gray-400 opacity-100;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
    display: none !important;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel,
.DocSearch-Reset {
    margin: 0;
    padding: 0;
}

.DocSearch-MagnifierLabel,
.DocSearch-Reset {
    @apply flex items-center justify-center;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
    display: none;
}

.DocSearch-VisuallyHiddenForAccessibility {
    @apply sr-only;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel,
.DocSearch-LoadingIndicator {
    display: none;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
    position: absolute;
    top: 0.875rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
}

.DocSearch-LoadingIndicator svg {
    @apply h-4 w-4 overflow-visible;
}

.DocSearch-LoadingIndicator path,
.DocSearch-LoadingIndicator circle {
    vector-effect: non-scaling-stroke;
}

.DocSearch-LoadingIndicator circle {
    @apply stroke-gray-300;
    stroke-opacity: 1;
}

.DocSearch-LoadingIndicator path {
    @apply stroke-amber-500;
    stroke-opacity: 1;
}

.DocSearch-LoadingIndicator,
.DocSearch-MagnifierLabel {
    @apply pointer-events-none h-4 w-4;
}

.DocSearch-LoadingIndicator svg,
.DocSearch-MagnifierLabel svg {
    @apply text-gray-400;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DocSearch-Reset {
        @apply animate-none cursor-pointer appearance-none rounded-full border-none bg-none text-gray-400;
    }
}

.DocSearch-Reset {
    @apply cursor-pointer appearance-none border-none bg-none stroke-2 p-0 text-gray-400;
    animation: fade-in 0.1s ease-in forwards;
}

.DocSearch-Reset[hidden] {
    display: none;
}

.DocSearch-Reset:hover {
    @apply text-amber-500;
}

.DocSearch-Cancel {
    display: none;
}

.DocSearch-Dropdown {
    max-height: calc(
        var(--docsearch-modal-height) - var(--docsearch-searchbox-height) -
            var(--docsearch-spacing) - var(--docsearch-footer-height)
    );
    min-height: var(--docsearch-spacing);
    overflow-y: auto;
    overflow-y: overlay;
    padding: 0 var(--docsearch-spacing);
    scrollbar-color: var(--docsearch-muted-color)
        var(--docsearch-modal-background);
    scrollbar-width: thin;
}

.DocSearch-Dropdown::-webkit-scrollbar {
    width: 12px;
}

.DocSearch-Dropdown::-webkit-scrollbar-track {
    background: transparent;
}

.DocSearch-Dropdown::-webkit-scrollbar-thumb {
    background-color: var(--docsearch-muted-color);
    border: 3px solid var(--docsearch-modal-background);
    border-radius: 20px;
}

.DocSearch-Dropdown ul {
    @apply m-0 list-none p-0;
}

.DocSearch-Label {
    font-size: 0.75em;
    line-height: 1.6em;
}

.DocSearch-Help,
.DocSearch-Label {
    @apply text-gray-500 dark:text-gray-400;
}

.DocSearch-Help {
    @apply m-0 select-none text-sm;
}

.DocSearch-Title {
    @apply text-xl;
}

.DocSearch-Logo a {
    @apply flex items-center gap-2;
}

.DocSearch-Hits:last-of-type {
    @apply mb-6;
}

.DocSearch-Hits mark {
    @apply bg-transparent text-amber-500;
}

.DocSearch-HitsFooter {
    @apply flex justify-center text-sm text-gray-500;
    margin-bottom: var(--docsearch-spacing);
    padding: var(--docsearch-spacing);
}

.DocSearch-HitsFooter a {
    @apply border-b text-inherit;
}

.DocSearch-Hit {
    @apply relative flex;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DocSearch-Hit--deleting {
        transition: none;
    }
}

.DocSearch-Hit--deleting {
    opacity: 0;
    transition: all 0.25s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DocSearch-Hit--favoriting {
        transition: none;
    }
}

.DocSearch-Hit--favoriting {
    transform: scale(0);
    transform-origin: top center;
    transition: all 0.25s linear;
    transition-delay: 0.25s;
}

.DocSearch-Hit a {
    @apply block w-full rounded-md p-2 dark:text-gray-100;
}

.DocSearch-Hit-source {
    @apply sticky top-0 z-10 bg-white px-1 pb-0 pt-2 text-sm font-medium leading-8 dark:bg-gray-800 dark:text-gray-100;
}

.DocSearch-Hit-Tree {
    @apply w-6 stroke-2 text-gray-500 opacity-50;
}

.DocSearch-Hit[aria-selected='true'] a {
    @apply bg-gray-100 text-amber-500 dark:bg-gray-700;
}

.DocSearch-Hit[aria-selected='true'] mark {
    text-decoration: underline;
}

.DocSearch-Hit-Container {
    @apply flex items-center;
}

.DocSearch-Hit-icon {
    @apply hidden;
}

.DocSearch-Hit-action {
    @apply flex h-5 w-5 items-center;
}

.DocSearch-Hit-action svg {
    @apply block h-4 w-4 stroke-2 text-gray-500;
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
    @apply mr-4;
}

.DocSearch-Hit-action-button {
    @apply cursor-pointer appearance-none rounded-full border-none bg-none p-1 text-gray-400 text-inherit;
}

svg.DocSearch-Hit-Select-Icon {
    display: none;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Select-Icon {
    display: block;
}

.DocSearch-Hit-action-button:focus,
.DocSearch-Hit-action-button:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DocSearch-Hit-action-button:focus,
    .DocSearch-Hit-action-button:hover {
        transition: none;
    }
}

.DocSearch-Hit-action-button:focus path,
.DocSearch-Hit-action-button:hover path {
    fill: #fff;
}

.DocSearch-Hit-content-wrapper {
    @apply relative flex flex-1 flex-col justify-center overflow-x-hidden text-ellipsis whitespace-nowrap;
}

.DocSearch-Hit-title {
    font-size: 0.9em;
}

.DocSearch-Hit-path {
    @apply text-gray-500 dark:text-gray-400;
    font-size: 0.75em;
}

.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-action,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-icon,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-path,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-text,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-title,
.DocSearch-Hit[aria-selected='true'] .DocSearch-Hit-Tree,
.DocSearch-Hit[aria-selected='true'] mark {
    color: var(--docsearch-hit-active-color) !important;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DocSearch-Hit-action-button:focus,
    .DocSearch-Hit-action-button:hover {
        background: rgba(0, 0, 0, 0.2);
        transition: none;
    }
}

.DocSearch-ErrorScreen,
.DocSearch-StartScreen {
    font-size: 0.9em;
    margin: 0 auto;
    padding: 36px 0;
    text-align: center;
}

.DocSearch-Screen-Icon {
    display: none;
}

.DocSearch-NoResults .DocSearch-Title {
    @apply px-4 py-12 text-center text-sm text-gray-500 dark:text-gray-400;
}

.DocSearch-Prefill {
    @apply w-full rounded-lg;
}

.DocSearch-NoResults-Prefill-List {
    @apply -mx-3 block border-t px-4 pb-6 pt-4 text-left dark:border-gray-700;
}

.DocSearch-NoResults-Prefill-List ul {
    @apply m-0 list-none p-0;
}

.DocSearch-NoResults-Prefill-List li {
    @apply -mx-2;
}

.DocSearch-Prefill {
    @apply inline-block cursor-pointer appearance-none rounded-md border-none bg-none p-2 text-left text-sm text-gray-900 dark:text-gray-100;
}

.DocSearch-Prefill:focus,
.DocSearch-Prefill:hover {
    @apply bg-gray-100 text-amber-500 outline-none dark:bg-gray-700;
}

.DocSearch-Footer {
    @apply relative z-30 flex w-full select-none flex-row-reverse items-center border-t border-gray-200 px-4 py-2 dark:border-gray-700;
    height: var(--docsearch-footer-height);
}

.DocSearch-Commands {
    @apply m-0 mr-auto flex list-none p-0 text-gray-500 dark:text-gray-400;
}

.DocSearch-Commands li {
    @apply flex items-center;
}

.DocSearch-Commands li:not(:last-of-type) {
    margin-right: 0.8em;
}

.DocSearch-Commands-Key {
    @apply mr-1 flex items-center justify-center rounded border-none bg-gray-100 p-1 dark:bg-gray-700;
}

.dark .DocSearch-Logo svg .cls-1,
.dark .DocSearch-Logo svg .cls-2 {
    fill: #fff !important;
}

@media (max-width: 768px) {
    :root {
        --docsearch-spacing: 10px;
        --docsearch-footer-height: 40px;
    }

    .DocSearch-Dropdown {
        height: 100%;
    }

    .DocSearch-Container {
        height: 100vh;
        height: -webkit-fill-available;
        height: calc(var(--docsearch-vh, 1vh) * 100);
    }

    .DocSearch-Footer {
        border-radius: 0;
        bottom: 0;
        position: absolute;
    }

    .DocSearch-Hit-content-wrapper {
        display: flex;
        position: relative;
        width: 80%;
    }

    .DocSearch-Modal {
        border-radius: 0;
        box-shadow: none;
        height: 100vh;
        height: -webkit-fill-available;
        height: calc(var(--docsearch-vh, 1vh) * 100);
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .DocSearch-Dropdown {
        max-height: calc(
            var(--docsearch-vh, 1vh) * 100 - var(--docsearch-searchbox-height) -
                var(--docsearch-spacing) - var(--docsearch-footer-height)
        );
    }

    .DocSearch-Cancel {
        @apply mr-3 inline-block cursor-pointer appearance-none rounded-md border-none bg-gray-100 bg-none px-2 py-1.5 text-xs leading-none dark:bg-gray-700 dark:text-gray-400;
    }

    .DocSearch-Commands,
    .DocSearch-Hit-Tree {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
