@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './torchlight.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
    iframe {
        max-width: 100%;
    }
}

@layer components {
    details summary {
        cursor: pointer;
    }

    details summary p {
        display: inline-block;
        margin-block: 0.75em !important;
    }
}
