@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import '../../../resources/css/torchlight.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
    iframe {
        max-width: 100%;
    }
}

@layer components {
    details summary {
        cursor: pointer;
    }

    details summary p {
        display: inline-block;
        margin-block: 0.75em !important;
    }

    .prose h2,
    .prose h3,
    .prose h4,
    .prose h5,
    .prose h6 {
        @apply lg:relative;
    }

    .prose .heading-anchor {
        @apply mr-2 inline-block align-baseline text-butter shadow-none dark:shadow-none;
        @apply lg:absolute lg:-left-7 lg:top-0;
    }

    /* Light Theme */

    /* All elements except `.prose` and `code` */
    *:not(.prose):not(code)::selection {
        @apply bg-stone-500/10;
    }

    /* All `.prose` elements except `code` */
    .prose *:not(code)::selection {
        @apply bg-primary-500/20;
    }

    /* All `code` elements and their children */
    .prose code::selection,
    .prose code *::selection {
        @apply bg-cream/20;
    }

    p code,
    ul code {
        @apply rounded bg-merino px-1.5 py-0.5;
    }

    p code::selection,
    ul code::selection {
        @apply !bg-primary-500/20;
    }

    /* Dark Theme */

    /* All elements except `.prose` and `code` */
    .dark *::selection {
        @apply bg-slate-500/50;
    }

    /* All `.prose` elements except `code` */
    .dark .prose *:not(code)::selection {
        @apply bg-slate-500/50;
    }

    /* All `code` elements and their children */
    .dark .prose code::selection,
    .dark .prose code *::selection {
        @apply bg-slate-500/50;
    }

    .dark p code,
    .dark ul code {
        @apply bg-dolphin/40;
    }

    .dark p code::selection,
    .dark ul code::selection {
        @apply !bg-slate-500/50;
    }
}

.navigation-custom-scrollbar::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.navigation-custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.navigation-custom-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.navigation-custom-scrollbar:hover::-webkit-scrollbar-thumb {
    border-radius: 999px;
}

/* Light Theme */
.navigation-custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #f1e5e4b0;
}

.navigation-custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background: #d4c6c5;
}

/* Dark Theme */
.dark .navigation-custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #2f2b49;
}

.dark .navigation-custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background: #373355;
}
