# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Filament source files
/filament

# Torchlight cache
/torchlight-cache

# raw documentation
/src/pages/*.x
/src/navigation.json

# compiled documentation
/dist
/preserved-dist
