{
    "tailwindConfig": "./tailwind.config.cjs",
    "singleQuote": true,
    "semi": false,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "pluginSearchDirs": false,
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
